Repository ethay012/angular-strict-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
    "src/**/*.{js,ts,html,json}": ["prettier --write", "eslint"],
    "src/**/*.{scss,css}": ["prettier --write", "stylelint"]
}

refactor: ts and eslint won't both show the same error for unused variables
  tsconfig.json
Due: none

feat: replaced postcss-purgecss with webpack-purgecss
  angular.json
  extra-webpack.config.js
  package-lock.json
  package.json
Due: none

feat: changed extra-webpack-config to ts
  angular.json
  extra-webpack.config.js
  extra-webpack.config.ts
  package-lock.json
  package.json
Due: none

feat: added primeng with purgecss config
  angular.json
  extra-webpack.config.ts
  package-lock.json
  package.json
  src/styles.scss
  src/styles/styles.scss
Due: prettier --write, stylelint

chore: updated dependencies
  package-lock.json
  package.json
Due: none

feat: added testing-library/jest-dom and linting
  .eslintrc.json
  package-lock.json
  package.json
  setup-jest.ts
  src/app/app.component.spec.ts
Due: prettier --write, eslint

feat: changed default schematic to SCAM pattern
  angular.json
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/main.ts
Due: prettier --write, eslint

fix: fixed purgeCSS webpack plugin
  extra-webpack.config.ts
Due: none

fix: turned off redundant rules for test files
  .eslintrc.json
Due: none

feat: added new schematic which modifies @ngneat/aim test files
  angular.json
  package-lock.json
  package.json
  schematics/.gitignore
  schematics/.npmignore
  schematics/README.md
  schematics/package-lock.json
  schematics/package.json
  schematics/src/angular-strict-schematics/files/component/__name@dasherize__.component.spec.ts.template
  schematics/src/angular-strict-schematics/files/directive/__name@dasherize__.directive.spec.ts.template
  schematics/src/angular-strict-schematics/files/pipe/__name@dasherize__.pipe.spec.ts.template
  schematics/src/angular-strict-schematics/index.ts
  schematics/src/angular-strict-schematics/index_spec.ts
  schematics/src/collection.json
  schematics/tsconfig.json
Due: none

feat: added @ngneat/svg-icon
  package-lock.json
  package.json
  src/assets/svg/.gitkeep
Due: none

feat: created folder structure
  src/app/core/data-access/.gitkeep
  src/app/core/ui/.gitkeep
  src/app/features/.gitkeep
  src/app/pages/.gitkeep
Due: none

fix(app): fixed test expect missing import
  src/app/app.component.spec.ts
Due: prettier --write, eslint
